*{
  box-sizing: border-box;

}

.container {
  background-image: url(http://i.imgur.com/gyb4iYj.jpg);
  position: absolute;
  width: 90%;
  padding-bottom: 7rem;
  left: 35px;
}

.header{
text-align:center;
max-width: 1000px;
margin-left: 150px;
margin-top: 78px;
}

.left-top-logo {
background-color: green;
max-width: 300px;
list-style: none;
display: flex;
margin-left: 132px;
margin-up: 38px;
}

.right-top-nav{
  background-color: red;
  display: flex;
  list-style: none;
  max-width: 300px;
  margin-top: -34px;
  margin-left: 845px;
}

}
 .fa-pie-chart{
  width: 15px;
  height: 15px;
  position: relative;

}
.main-title {
  font-size: 80px;
  color: rgb(225, 240, 225);
}
.title-sub {
  font-size: 14px;
   position: absolute;
   top: 200px;
   left: 500px;
}
.left-section {
  background: red;
  max-width: 47%;
  float: left;
  margin-left: 41px;
  margin-top: 400px;

  text-align: left;
}
.right-section {
  position: absolute;
  right: 0px;
  top: 375px;
  max-width: 49%;
}
.tit1 {
  font-size: 43px;
}
footer{
  position: absolute;
  top: 2000px;
}
.icon-section{
  position: relative;
top: -12px;
border-radius: 50%;

}
.name1 {
font-size: 13px;
position: relative;
top: -50px;
left: 50px;

}
.content{
  font-size: 16px;
  position: relative;
  top: -40px;
}
.icon-section {
  position: relative;
  right: -20px;
  width: 30px;
  height: 30px;
}

.underline {
  position: relative;
  right: -150px;
  top: -80px;
  font-size: 14px;
}

.tit2 {
  position: relative;
  right: -4px;
  top: -40px;
}
