*{
  box-sizing: border-box;

}

.container {
  background-image: url(http://www.sixer.biz/wallpaper/underwater/underwater-wallpaper-hd-is-wallpapers-underwater-background-hotel-camera-world-google-singapore-welding-dubai-salary-reviews-street.jpg);
  position: absolute;
  width: 90%;
  padding-bottom: 7rem;
  left: 55px;
}

.header{
text-align:center;
max-width: 1000px;
margin-left: 100px;
margin-top: 78px;
}

.left-top-logo {
background-color: green;
max-width: 300px;
max-height: 100px;
list-style: none;
display: inline-flex;
margin-left: 132px;
margin-up: 38px;
}

.right-top-nav{
  background-color: red;
  display: flex;
  list-style: none;
  max-width: 300px;
  margin-top: -34px;
  margin-left: 845px;
}

}
 .fa-pie-chart{
  width: 15px;
  height: 15px;
  position: relative;

}
.main-title {
  font-size: 80px;
  color: rgb(225, 240, 225);
}
.title-sub {
  font-size: 14px;
   position: absolute;
   top: 200px;
   left: 435px;
}
.left-section {
  background: red;
  max-width: 47%;
  float: left;
  margin-left: 54px;
  margin-top: 400px;

  text-align: left;
}
.right-section {
  position: absolute;
  right: -45px;
  top: 375px;
  max-width: 49%;
}
.tit1 {
  font-size: 43px;
  color: rgb(9, 18, 60);
}
footer{
  position: absolute;
  top: 2000px;
}
.icon-section{
  position: relative;
top: -12px;
border-radius: 50%;

}
.name1 {
font-size: 13px;
position: relative;
top: -50px;
left: 50px;

}
.content{
  font-size: 16px;
  position: relative;
  top: -40px;
  color: #656F75;
}
.icon-section {
  position: relative;
  right: -20px;
  width: 30px;
  height: 30px;
}

.underline {
  position: relative;
  right: -150px;
  top: -80px;
  font-size: 14px;
}

.tit2 {
  position: relative;
  right: -4px;
  top: -40px;
}

.btns-left button {
  background: grey;
  border: solid grey;
  color:

}

}
.btns-left button span:hover{
  background-color: rgb(42, 43, 231);

}
